*{
box-sizing: border-box ;
}
body{

    

    margin: 0px;
    padding: 0px;
    background-color:  hsl(0, 0%, 81%);
   justify-content: center;
   align-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.container{
height: 100%;
margin: 20px;
display: grid;
width:auto;
grid-template-columns: repeat(autofit,minmax(100px,1fr));
grid-template-rows: auto auto;
grid-gap: 20px;
grid-template-areas:' tl tl tm r'
                     'bl bm bm r';

}
.top-left{
    padding: 20px;;

background-color:hsl(263, 55%, 52%) ;

grid-area: tl;
border-radius: 15px;
background-image:url("images/bg-pattern-quotation.svg") ;
background-repeat: no-repeat;
background-position: 80% 0;
}
.top-middle{
    padding: 20px;
background-color:hsl(219, 29%, 14%) ;
grid-area: tm;
border-radius: 15px;
}
.bottom-left{
    padding: 20px;
background-color:white ;
grid-area: bl;
border-radius: 15px;

}
.bottom-middle{
    padding: 20px;
background-color:hsl(219, 29%, 14%) ;
grid-area: bm;
border-radius: 15px;

}
.right{
    
    padding: 20px;
background-color:white;
grid-area: r;
border-radius: 15px;
}
.header{
display: flex;

}

.text{
    line-height: 1%;
    text-align: center;
    justify-content: center;
}
.image img{
border-radius: 50%;
margin-right: 10px;
border: 2px solid white;


}
h2{
    color: hsl(0, 0%, 81%);
}
h3{
  color:  hsl(0, 0%, 81%);
}
p{

    color:hsl(210, 46%, 95%);
    opacity: 70%;
}
.right p{
    color: black;
    opacity: 70%;
}
.right h2{
    color:black;
}
.right h3{
color: black;
}

.bottom-left p{
    color: black;
    opacity: 70%;
}
.bottom-left h2{
    color: black;
    
}
.bottom-left h3{
    color: black;
}
@media screen and (max-width: 600px) {
.container{

grid-template-areas: 
'tl'
'tm'
'bl'
'bm'
'r'
;
}

.top-left{
  
    
    grid-area: tl;
    grid-column: 1/-1;
    }
    .top-middle{
    
    grid-area: tm;
    
    }
    .bottom-left{
   
    grid-area: bl;
    
    
    }
    .bottom-middle{
    
    grid-area: bm;
    
    
    }
    .right{

    grid-area: r;
    }

}
